@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lato:wght@300&family=Oswald:wght@300&display=swap');/*importing a font*/

*{ /*Applies to all, set to 0 to give more control over box model*/
    margin:0;
    padding:0;
    border:none;
}

body{
    font-family: 'Indie Flower', cursive;
    font-weight: 200;
    color: #E67144;
   
}

h1,h2{
    font-family: 'Indie Flower', cursive;
    font-weight:200;
    color: #E67144;
    letter-spacing: 8px;
    text-transform:uppercase;
}


#logo{/*styles heading/title*/
    font-size: 300%;
    float:left;
    
}



.active{
    border-bottom:2px solid #EB8A81
}


#menu{
    font-size:150%;
    letter-spacing:  4px;
  }
  #menu, #heading{
    line-height: 80px;
  
  }
  #menu li{
    float: right;
    list-style-type:none;
    margin-right:50px;
  }
  #menu a{
    text-decoration:none;
    color:inherit; /*keeps the colour from the parent*/
  }
  #menu a:hover{
      border-bottom: 2px solid #EB8A81;
  }


#heroImage{
    height:600px;
    width:100%;
    background: url('../images/fetch-4957501_1920.jpg') no-repeat center center;
     margin-top: 5%;

}
/*Who we are heading and paragraph text being styled*/
.who-we-are h2{
 text-align:center;

}
.who-we-are p{
  width:500px;
  height:280px;
  font-size: 20px ;
  padding:30px;
  border-style: double;
  border-color: #EB8A81;
  border-width:3px;
  margin: 0 auto;/*centres the text*/
  
}

#left-image{
  height:150px;
  width:100%;
  background-image: url('../images/pawprints-2919733_1280.jpg');
}

#walking{

  width: 60%;
  float: right;
  line-height:20px;
  clear:both;
  margin-bottom:50px;

}

#talking{

  width: 60%;
  float: left;
  line-height:20px;
  clear:both;
  margin-bottom:50px;

}

#social{
  height:350px;
  width:25%;
  background-image: url('../images/dogs-6463032_640.jpg');
  float: right;
  margin-top: 5%;
}


#where{

  width: 60%;
  float: left;
  line-height:20px;
  clear:both;
  margin-bottom:50px;

}

footer{
  height: 150px;
}

.social-media{
  text-align: center;
}

.social-media > li {
  display: inline;/*side by side*/
}

.social-media i{
  font-size: 160%;
  margin-bottom:5%;
  padding: 5%;
  color: #3a3a3a;
}
/*logo at bottom of site*/




