@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lato:wght@300&family=Oswald:wght@300&display=swap');/*importing a font*/

*{ /*Applies to all, set to 0 to give more control over box model*/
    margin:0;
    padding:0;
    border:none;
}

body{
    font-family: 'Indie Flower', cursive;
    font-weight: 200;
    color: #E67144;
   
}

h1,h2{
    font-family: 'Indie Flower', cursive;
    font-weight:200;
    color: #E67144;
    letter-spacing: 8px;
    text-transform:uppercase;
}


#logo{/*styles heading/title*/
    font-size: 300%;
    float:left;
    
}



.active{
    border-bottom:2px solid #EB8A81
}


#menu{
    font-size:150%;
    letter-spacing:  4px;
  }
  #menu, #heading{
    line-height: 80px;
  
  }
  #menu li{
    float: right;
    list-style-type:none;
    margin-right:50px;
  }
  #menu a{
    text-decoration:none;
    color:inherit; /*keeps the colour from the parent*/
  }
  #menu a:hover{
      border-bottom: 2px solid #EB8A81;
  }


#heroImage{
    height:600px;
    width:100%;
    background: url('../images/fetch-4957501_1920.jpg') no-repeat center center;
     margin-top: 5%;

}
/*Who we are heading and paragraph text being styled*/
.who-we-are h2{
 text-align:center;

}
.who-we-are p{
  text-align: center;
}

/* #who-text p{
  text-align:center;
  
} */



